@page "/mortagerates"
@using System.Net.Http.Headers
@using System.Text.Json
@using System.Text
@using mortgage.mortgageui.Models
@inject HttpClient _httpClient

<h1>Mortage Rates</h1>

<p>Average Rate: @averageRate</p>
<p>Average Rate: @averageRateMessage</p>

<table>
    <tr>
        <td><label for="firstname">Firstname :</label></td>
        <td><input type="text" id="firstname" name="firstname" required minlength="4" maxlength="50" size="10"> </td>
    </tr>
    <tr>
        <td><label for="lastname">Lastname :</label></td>
        <td><input type="text" id="lastname" name="lastname" required minlength="4" maxlength="50" size="10"> </td>
    </tr>
    <tr>
        <td><label for="dateofbirth">Date of birth :</label></td>
        <td><input type="date" id="dateofbirth" name="dateofbirth" required minlength="4" maxlength="50" size="10">
        </td>
    </tr>
</table>

<table>
    <tr>
        <td><label for="fixedFifteenYearsLoanRate">15 Years - Fixed</label></td>
        <td><label for="fixedThirtyYearsLoanRate">30 Years - Fixed</label></td>
        <td><label for="variableFifteenYearsLoanRate">15 Years - Variable</label></td>
        <td><label for="variableThirthyYearsLoanRate">30 Years - Variable</label></td>
    </tr>
    <tr>
        <td> <label id="fixedFifteenYearsLoanRate">@fixedFifteenYearsLoanRate%</label> </td>
        <td> <label id="fixedThirtyYearsLoanRate">@fixedThirtyYearsLoanRate%</label> </td>
        <td><label id="variableFifteenYearsLoanRate">@variableFifteenYearsLoanRate%</label> </td>
        <td><label id="variableThirthyYearsLoanRate">@variableThirthyYearsLoanRate%</label> </td>
    </tr>
</table>

<button class="btn btn-primary" @onclick="GetRates">Get Rates</button>


@code {
    private  double averageRate = 3.5;
    private  string averageRateMessage = "";
    private  double fixedFifteenYearsLoanRate = 3.0;
    private  double fixedThirtyYearsLoanRate = 3.7;
    private  double variableFifteenYearsLoanRate = 2.5;
    private  double variableThirthyYearsLoanRate = 3.1;

    private void GetRates()
    {
        Parallel.Invoke(getFixedRates);
        Parallel.Invoke(getVariableRates);
        Parallel.Invoke(getRateAverage);
    }

    private void getFixedRates()
    {
        fixedFifteenYearsLoanRate = fixedFifteenYearsLoanRate + 0.1;
        fixedThirtyYearsLoanRate = fixedThirtyYearsLoanRate + 0.1;
    }
    private void getVariableRates()
    {
        variableFifteenYearsLoanRate = variableFifteenYearsLoanRate + 0.1;
        variableThirthyYearsLoanRate = variableThirthyYearsLoanRate + 0.1;
        
    }
    private void getRateAverage()
    {
        averageRate = averageRate + 0.1;
        MortgageRequestor requestor = new MortgageRequestor(){Firstname = "Ilias", Lastname = "Jennane", DateOfBirth = DateTime.Now};
        InvokeService(requestor);
    }
    
    private void InvokeService( MortgageRequestor requestor)
    {
        
        
        
        _httpClient.DefaultRequestHeaders.Accept.Clear();
        _httpClient.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json")); 
        var jsonSerializerOptions = new JsonSerializerOptions();
        jsonSerializerOptions.PropertyNameCaseInsensitive = true;
        var requestAsJson = new StringContent(JsonSerializer.Serialize(requestor, jsonSerializerOptions),
                                                Encoding.UTF8,
                                                "application/json");

        var httpResponse = _httpClient.PostAsync("https://iliasjmortgageappapim.azure-api.net/fixedrate/v1/1.0/Mortgage", requestAsJson).Result;
        httpResponse.EnsureSuccessStatusCode();   
        averageRateMessage = httpResponse.Content.ToString();
    }
}
