@page "/mortagerates"
@using System.Net.Http.Headers
@using System.Text.Json
@using System.Text
@using mortgage.mortgageui.Models
@inject Services.AverageRateApiService averageRateApiService


<h1>Mortage Rates</h1>

<p>Average Rate: @averageRate</p>
<p>Average Rate: @averageRateMessage</p>

<table>
    <tr>
        <td><label for="firstname">Firstname :</label></td>
        <td><input type="text" id="firstname" name="firstname" required minlength="4" maxlength="50" size="10" @bind="_firstname" @bind:event="oninput"> </td>
    </tr>
    <tr>
        <td><label for="lastname">Lastname :</label></td>
        <td><input type="text" id="lastname" name="lastname" required minlength="4" maxlength="50" size="10" @bind="_lastname" @bind:event="oninput"> </td>
    </tr>
    <tr>
        <td><label for="dateofbirth">Date of birth :</label></td>
        <td><input type="date" id="dateofbirth" name="dateofbirth" required minlength="4" maxlength="50" size="10" @bind="_dateOfBirth" @bind:event="oninput">
        </td>
    </tr>
</table>

<table>
    <tr>
        <td><label for="fixedFifteenYearsLoanRate">15 Years - Fixed</label></td>
        <td><label for="fixedThirtyYearsLoanRate">30 Years - Fixed</label></td>
        <td><label for="variableFifteenYearsLoanRate">15 Years - Variable</label></td>
        <td><label for="variableThirthyYearsLoanRate">30 Years - Variable</label></td>
    </tr>
    <tr>
        <td> <label id="fixedFifteenYearsLoanRate">@fixedFifteenYearsLoanRate%</label> </td>
        <td> <label id="fixedThirtyYearsLoanRate">@fixedThirtyYearsLoanRate%</label> </td>
        <td><label id="variableFifteenYearsLoanRate">@variableFifteenYearsLoanRate%</label> </td>
        <td><label id="variableThirthyYearsLoanRate">@variableThirthyYearsLoanRate%</label> </td>
    </tr>
</table>

<button class="btn btn-primary" @onclick="GetRates">Get Rates</button>


@code {
    
    private string _firstname { get; set; }
    private string _lastname { get; set; }
    private DateTime _dateOfBirth { get; set; } = DateTime.Now;
    
    double averageRate = 3.5;
    string averageRateMessage = "";
    double fixedFifteenYearsLoanRate = 3.0;
    double fixedThirtyYearsLoanRate = 3.7;
    double variableFifteenYearsLoanRate = 2.5;
    double variableThirthyYearsLoanRate = 3.1;


    private void GetRates()
    {
        Parallel.Invoke(getFixedRates);
        Parallel.Invoke(getVariableRates);
        Parallel.Invoke(getRateAverage);
    }

    private void getFixedRates()
    {
        
        MortgageRequestor requestor = new MortgageRequestor(){Firstname = _firstname, Lastname = _lastname, DateOfBirth = _dateOfBirth};
        var fixedRate =  averageRateApiService.GetMortgageFixedRate(requestor);
        fixedFifteenYearsLoanRate = Math.Round(fixedRate.MortgageRate + 0.1, 2);
        fixedThirtyYearsLoanRate = Math.Round(fixedRate.MortgageRate + 0.9, 2);
    }
    private void getVariableRates()
    {
        MortgageRequestor requestor = new MortgageRequestor(){Firstname = _firstname, Lastname = _lastname, DateOfBirth = _dateOfBirth};
        var variableRate =  averageRateApiService.GetMortgageVariableRate(requestor);
        variableFifteenYearsLoanRate = Math.Round(variableRate.MortgageRate + 0.1, 2);
        variableThirthyYearsLoanRate = Math.Round(variableRate.MortgageRate + 0.9, 2);

    }
    private void getRateAverage()
    {
        
        MortgageRequestor requestor = new MortgageRequestor(){Firstname = _firstname, Lastname = _lastname, DateOfBirth = _dateOfBirth};
        var averagemortgage =  averageRateApiService.GetMortgageFixedRate(requestor);

        averageRate =    Math.Round(averagemortgage.MortgageRate, 2);
        averageRateMessage = averagemortgage.RiskLevel;
    }


}
